@import 'reset';
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueMedium.eot');
	src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueMedium.woff') format('woff'), url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueThin.eot');
	src: url('../fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueThin.woff') format('woff'), url('../fonts/HelveticaNeueThin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueBold.eot');
	src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueBold.woff') format('woff'), url('../fonts/HelveticaNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

$pink: #ff5e53;
$grey: #737373;
$black: #121212;
body {
	min-width: 320px;
	max-width: 1600px;
	margin: 0 auto;
	font-family: 'HelveticaNeue', sans-serif;
	font-weight: 100;
	color: #FFF;
	font-size: 16px;
}

header {
	height: 700px;
	position: relative;
	padding: 15px 0 0;
	&:before {
		content: '';
		position: absolute;
		width: 960px;
		left: 0;
		top: 0;
		bottom: 0;
		background: $black;
	}
	.logo {
		display: block;
		max-width: 103px;
		max-height: 128px;
		width: 100%;
		height: 100%;
		position: relative;
		.logo-title {
			position: absolute;
			right: 0;
			width: 80px;
			bottom: -2px;
			line-height: 1;
			text-transform: uppercase;
			font-size: 18px;
			&:first-line {
				font-size: 13px;
			}
			span {
				color: $pink;
			}
			b {
				font-size: 18px;
				font-weight: 300;
			}
		}
	}
	.navigation {
		margin-top: 110px;
		li {
			margin-bottom: 20px;
			line-height: 1;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
			&:first-child {
				a {
					&:before {
						width: 90px;
					}
				}
			}
		}
		.active {
			color: #FFF;
			&:after {
				content: '';
				background: url(../images/wpunct.png) no-repeat center;
			}
			&:before {
				border-color: #fff;
			}
		}
		a {
			font-size: 22px;
			color: $grey;
			@include transition();
			&:after {
				content: '';
				position: absolute;
				display: block;
				background: url(../images/gpunct.png) no-repeat center;
				width: 7px;
				height: 7px;
				right: 47%;
				bottom: 0;
				top: 11px;
			}
			&:before {
				content: '';
				position: absolute;
				right: 50%;
				bottom: 0;
				top: 0;
				border-bottom: 2px solid $grey;
				width: 60px;
				height: 15px;
			}
			&:hover {
				color: #FFF;
				&:after {
					content: '';
					background: url(../images/wpunct.png) no-repeat center;
				}
				&:before {
					border-color: #fff;
				}
			}
		}
	}
	.login {
		text-align: right;
		margin-bottom: 25px;
		position: relative;
		z-index: 10;
		a {
			display: inline-block;
			width: 35px;
			height: 25px;
			text-align: center;
		}
		span {
			color: $grey;
			display: block;
			width: 100%;
			height: 100%;
			line-height: 27px;
			transition: all .2s ease-out .4s;
			&.active {
				background: rgba(0, 0, 0, .7);
				color: #fff;
			}
		}
		.line {
			vertical-align: inherit;
		}
	}
	.search-wrapper {
		display: block;
		position: absolute;
		top: 41px;
		right: 0;
		background: rgba(0, 0, 0, .7);
		width: 345px;
		height: 605px;
		z-index: 5;
		font-size: 0;
		text-align: left;
		padding: 15px 10px;
		transition-duration: 0.6s;
		transform: translateY(-200%);
		pointer-events: none;
		z-index: 10;
		&.active {
			transform: translateY(0);
			pointer-events: all;
		}
		.close-wrapper {
			text-align: right;
			img {
				cursor: pointer;
			}
		}
		.search-title {
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 75px;
		}
		.form-active {
			position: static;
			display: inline-block;
			text-align: right;
			border-right: 1px solid #fff;
			padding-right: 10px;
			a {
				color: #FFF;
			}
		}
		.form-wrapper {
			display: inline-block;
			text-align: center;
			margin-left: 25px;
			vertical-align: top;
			padding-top: 30px;
			select {
				font-size: 12px;
				font-weight: 100;
				color: $grey;
				width: 240px;
				height: 30px;
				padding-left: 10px;
				@include apperance ('../images/down.png',
				#fff,
				100%);
			}
			.search {
				width: 150px;
				height: 40px;
				text-align: center;
				text-transform: uppercase;
				border: none;
				color: #FFF;
				background: $pink;
				font-size: 20px;
				font-weight: bold;
				line-height: 37px;
				@include transition();
				&:hover {
					background: #df3e33;
				}
			}
		}
	}
	.user-wrapper {
		display: block;
		position: absolute;
		top: 41px;
		right: 0;
		background: rgba(0, 0, 0, .7);
		width: 345px;
		height: 605px;
		z-index: 5;
		font-size: 0;
		text-align: left;
		padding: 15px 10px;
		transition-duration: 0.6s;
		transform: translateY(-200%);
		pointer-events: none;
		z-index: 10;
		&.active {
			transform: translateY(0);
			pointer-events: all;
		}
		.close-wrapper {
			text-align: right;
			img {
				cursor: pointer;
			}
		}
		.user-title {
			display: block;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 75px;
		}
		.form-active {
			position: static;
			display: inline-block;
			text-align: right;
			border-right: 1px solid #fff;
			padding-right: 10px;
			a {
				color: #FFF;
			}
		}
		.register-wrapper {
			display: inline-block;
			text-align: center;
			margin-left: 50px;
			vertical-align: top;
			padding-top: 30px;
			.line-between {
				font-size: 15px;
				font-weight: 100;
				padding: 30px 0;
				position: relative;
				line-height: 1;
				&:before {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 80px;
					left: 0;
					top: 50%;
					background: $pink;
				}
				&:after {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 80px;
					right: 0;
					top: 50%;
					background: $pink;
				}
			}
			.register-btn {
				display: block;
				width: 190px;
				height: 45px;
				text-align: center;
				text-transform: uppercase;
				border: none;
				color: #FFF;
				background: $pink;
				font-size: 18px;
				font-weight: bold;
				line-height: 45px;
				cursor: pointer;
				@include transition();
				&:hover {
					background: #df3e33;
				}
			}
		}
	}
	.header-slider {
		position: relative;
		.owl-theme {
			.owl-controls {
				margin: 0;
				position: absolute;
				right: -15px;
				top: 50%;
				z-index: 2;
				transform: rotate(90deg);
				.owl-page {
					span {
						background: none;
						background-image: url(../images/slider-punct-hol.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						width: 8px;
						height: 8px;
						margin: 0 5px;
					}
					&.active {
						span {
							background-image: url(../images/slider-punct.png);
						}
					}
				}
			}
		}
		.slider-item {
			img {
				height: 585px;
			}
		}
	}
	.title-wrapper {
		width: 465px;
		height: 490px;
		background: rgba(0, 0, 0, .7);
		position: absolute;
		padding: 100px 45px;
		left: -90px;
		top: 90px;
		.header-title {
			font-size: 32px;
			font-weight: 100;
			text-transform: uppercase;
			padding-bottom: 30px;
			border-bottom: 1px solid $grey;
			span {
				font-weight: bold;
				color: $pink;
			}
		}
		.header-info {
			font-size: 22px;
			font-weight: 100;
			padding: 30px 0;
		}
		.chat {
			width: 210px;
			height: 45px;
			line-height: 45px;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			display: block;
			text-align: center;
			background: $pink;
			@include transition();
			&:hover {
				background: #df3e33;
			}
		}
	}
	.social {
		position: absolute;
		right: 20px;
		top: 225px;
		z-index: 100;
		li {
			text-align: center;
		}
		a {
			color: #000;
			font-size: 22px;
		}
		&.hidden {
			display: none;
		}
	}
}

main {
	.main-title {
		display: block;
		font-weight: bold;
		font-size: 22px;
		text-transform: uppercase;
		color: #FFF;
		padding: 30px 0 0;
		&:before {
			content: "";
			display: block;
			left: -215px;
			top: 40px;
			height: 2px;
			width: 155px;
			background: #FFF;
			position: absolute;
		}
	}
	.why-repo {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			display: block;
			background-image: url(../images/repokar-bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 490px;
			height: 100%;
			left: 0;
		}
	}
	.post-wrapper {
		padding: 30px 15px 0;
		.post-title {
			font-weight: bold;
			font-size: 18px;
			color: #121212;
			display: block;
		}
		.post-info {
			font-size: 16px;
			font-weight: 400;
			color: #737373;
			padding: 40px 0;
		}
		.post {
			position: relative;
			&:last-child {
				.post-info {
					padding: 15px 0 40px;
				}
			}
			&:nth-child(2n+1) {
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 2px;
					height: 115px;
					right: 0;
					top: 25%;
					background: #121212;
				}
			}
		}
	}
	.listing {
		position: relative;
		margin-top: -1px;
		background: #212121;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 490px;
			height: 100%;
			left: 0;
			background: #121212;
			z-index: 0;
		}
		.closing {
			display: inline-block;
			text-align: left;
			padding-left: 90px;
			padding-top: 30px;
			li {
				position: relative;
				&:first-child {}
			}
			.active {
				color: #FFF;
				&:after {
					content: '';
					background: url(../images/wpunct.png) no-repeat center;
				}
				&:before {
					border-color: #fff;
					width: 190px;
					left: -215px
				}
			}
			a {
				font-size: 22px;
				color: $grey;
				@include transition();
				&:after {
					content: '';
					position: absolute;
					display: block;
					background: url(../images/gpunct.png) no-repeat center;
					width: 7px;
					height: 7px;
					left: -15px;
					bottom: 0;
					top: 11px;
				}
				&:before {
					content: '';
					position: absolute;
					left: -200px;
					bottom: 0;
					top: 0;
					border-bottom: 2px solid $grey;
					width: 175px;
					height: 15px;
				}
				&:hover {
					color: #FFF;
					&:after {
						content: '';
						background: url(../images/wpunct.png) no-repeat center;
					}
					&:before {
						border-color: #fff;
					}
				}
			}
		}
	}
	.car-wrapper {
		padding: 15px;
		figure {
			position: relative;
			display: block;
			height: 185px;
			img {
				@include overlay();
				right: inherit;
			}
		}
		.car-item {
			position: relative;
			padding-bottom: 15px;
			.car-info {
				position: absolute;
				padding: 15px;
				background: rgba(68, 68, 68, .9);
				top: 10px;
				right: 15px;
			}
			.name {
				font-weight: bold;
				font-size: 18px;
				display: block;
				@include continue();
			}
			.time {
				font-size: 16px;
				font-weight: 100;
				display: block;
				padding: 10px 0;
			}
			.price {
				font-size: 16px;
				font-weight: bold;
				display: block;
				padding-bottom: 15px;
			}
			.bid {
				font-size: 16px;
				font-weight: bold;
				display: block;
				margin: 0 auto;
				width: 140px;
				height: 35px;
				background: $pink;
				border-radius: 0;
				text-transform: uppercase;
				@include transition();
				&:hover {
					color: #fff;
					background: #df3e33;
				}
			}
		}
		.see-wrapper {
			text-align: right;
			.see {
				width: 140px;
				height: 30px;
				line-height: 30px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 100;
				background: $pink;
				display: inline-block;
				text-align: center;
				@include transition();
				&:hover {
					color: #fff;
					background: #df3e33;
				}
				span {
					font-size: 14px;
				}
			}
		}
	}
	.reviews {
		position: relative;
		margin-top: -1px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			background-image: url(../images/customer-bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 490px;
			height: 100%;
			left: 0;
		}
		.cl-banner {
			display: block;
			img {
				width: 100%;
			}
		}
	}
	.reviews-wrapper {
		padding: 30px 0;
		.reviews-title {
			display: block;
			font-weight: bold;
			font-size: 18px;
			color: #121212;
			text-transform: uppercase;
			position: relative;
			padding-left: 55px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				display: block;
				background: url(../images/cav-open.png) no-repeat center;
				width: 25px;
				height: 23px;
			}
		}
		.reviews-info {
			font-size: 16px;
			font-weight: 400;
			color: $grey;
			padding: 30px 0 60px;
			margin: 0;
		}
		.date {
			font-size: 14px;
			color: $grey;
			font-weight: 400;
			text-align: right;
			padding-right: 55px;
			position: relative;
			&:before {
				content: '';
				display: block;
				height: 2px;
				top: 10px;
				width: 120px;
				background: $grey;
				right: 160px;
				position: absolute;
			}
			&:after {
				content: '';
				position: absolute;
				right: 0;
				background: url(../images/cav-close.png) no-repeat center;
				width: 25px;
				height: 23px;
			}
		}
	}
	.meta-content {
		font-size: 14px;
		color: $grey;
		font-weight: 400;
		text-align: center;
		padding: 30px 0;
	}
}

footer {
	position: relative;
	background: #212121;
	margin-top: -1px;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 490px;
		height: 100%;
		left: 0;
		background: #121212;
		z-index: 0;
	}
	.footer-title {
		display: block;
		font-weight: bold;
		font-size: 22px;
		text-transform: uppercase;
		color: #FFF;
		padding: 30px 0 0;
		&:before {
			content: "";
			display: block;
			left: -215px;
			top: 40px;
			height: 2px;
			width: 155px;
			background: #FFF;
			position: absolute;
		}
	}
	.info-footer {
		display: inline-block;
		text-align: left;
		padding-left: 90px;
		padding-top: 30px;
		li {
			position: relative;
			&:first-child {
				a {
					&:before {
						width: 190px;
						left: -215px
					}
				}
			}
		}
		.active {
			color: #FFF;
			&:after {
				content: '';
				background: url(../images/wpunct.png) no-repeat center;
			}
			&:before {
				border-color: #fff;
			}
		}
		a {
			font-size: 22px;
			color: $grey;
			@include transition();
			&:after {
				content: '';
				position: absolute;
				display: block;
				background: url(../images/gpunct.png) no-repeat center;
				width: 7px;
				height: 7px;
				left: -15px;
				bottom: 0;
				top: 11px;
			}
			&:before {
				content: '';
				position: absolute;
				left: -200px;
				bottom: 0;
				top: 0;
				border-bottom: 2px solid $grey;
				width: 175px;
				height: 15px;
			}
			&:hover {
				color: #FFF;
				&:after {
					content: '';
					background: url(../images/wpunct.png) no-repeat center;
				}
				&:before {
					border-color: #fff;
				}
			}
		}
	}
	.about-wrapper {
		padding-top: 40px;
		.about-title {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		.about-info {
			font-size: 12px;
			font-weight: 400;
			color: #D4CFCF;
		}
		form {
			font-size: 0;
		}
		.form-group {
			display: inline-block;
			width: 64%;
			height: 35px;
			vertical-align: top;
			&:last-child {
				width: 36%;
			}
		}
		input {
			width: 100%;
			height: 100%;
			border: none;
			color: $grey;
			font-size: 12px;
			font-weight: 400;
			padding-left: 20px;
		}
		button {
			width: 100%;
			height: 100%;
			border: none;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			background: $pink;
			@include transition();
			&:hover {
				background: #df3e33;
			}
		}
		.repokar-wrapper {
			a {
				display: inline-block;
				vertical-align: middle;
			}
			.repokar-text {
				text-align: center;
				line-height: 1;
				font-size: 14px;
				padding-left: 30px;
			}
			span {
				text-transform: uppercase;
				font-size: 30px;
				font-weight: bold;
			}
		}
		.address-wrapper {
			padding-top: 20px;
			li {
				font-size: 16px;
				color: $pink;
				font-weight: 400;
				br {
					display: none;
				}
			}
			i {
				font-style: normal;
			}
			a {
				color: $pink;
				padding-left: 5px;
			}
			span {
				display: inline-block;
				width: 90px;
				color: #FFF;
			}
		}
	}
	.copy {
		font-size: 12px;
		font-weight: 400;
		color: $grey;
		padding: 10px 0;
		text-align: center;
		border-top: 2px solid $grey;
	}
}

.auction-main {
	.listing {
		background: #FFF;
		&:before {
			content: "";
			background: #121212;
			background-image: url(../images/listing-bg.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			height: 100%;
		}
	}
	.pagination-wrapper {
		text-align: right;
	}
	.pagination {
		li {
			a {
				background: $pink;
				border-color: $pink;
				color: #FFF;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
				@include transition();
				&:hover {
					background: #df3e33;
				}
				span {
					font-size: 16px;
				}
			}
		}
	}
	.reviews {
		&:before {
			background-image: url(../images/cl-banner-bg.jpg);
		}
	}
}

.contact-header {
	.title-wrapper {
		width: auto;
		height: auto;
	}
	.header-title {
		a {
			color: $pink;
			font-weight: bold;
		}
	}
	.header-info {
		a {
			color: $pink;
			font-weight: bold;
		}
	}
	.header-slider {
		.slider-item {
			img {
				width: 100%;
			}
		}
	}
}

.contact-main {
	.why-repo {
		&:before {
			background-image: url(../images/message-bg.jpg);
		}
		.main-title {
			font-size: 18px;
		}
	}
	.listing {
		background: none;
		margin-top: 0;
	}
	.map-wrapper {
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.address-map {
		position: absolute;
		top: 30px;
		left: 45px;
		background: rgba(0, 0, 0, .9);
		padding: 45px 25px;
		font-size: 20px;
		span {
			display: inline-block;
			vertical-align: top;
			width: 110px;
		}
		i {
			display: inline-block;
			vertical-align: top;
			color: $pink;
			font-style: normal;
		}
		a {
			display: inline-block;
			vertical-align: top;
			color: $pink;
		}
	}
	.reviews {
		&:before {
			background-image: url(../images/reviews-bg.jpg);
		}
	}
	.message-wrapper {
		padding: 30px 15px;
	}
	.message {
		background: #212121;
		padding: 35px 0;
		input {
			border-radius: 0;
			border: none;
			padding: 15px 20px;
			height: 40px;
			color: $grey;
		}
		textarea {
			border-radius: 0;
			border: none;
			padding: 15px 20px;
			color: $grey;
			resize: none;
		}
		.captcha {
			img {
				max-height: 40px;
				height: 100%;
			}
		}
		.refresh {
			text-align: center;
			a {
				font-size: 30px;
				line-height: 48px;
				transform: rotatey(180deg);
				display: inline-block;
			}
		}
		.send {
			border-radius: 0;
			border: none;
			background: $pink;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			font-weight: bold;
			font-size: 18px;
			color: #FFF;
			height: 45px;
			@include transition();
			&:hover {
				background: #df3e33;
			}
		}
	}
	.tweets-wrapper {
		img {
			margin: 0 auto;
		}
	}
}

@media (max-width: 1600px) {
	header {
		&:before {
			width: 60%;
		}
	}
	main {
		.why-repo {
			&:before {
				width: 30.5%;
			}
		}
		.listing {
			&:before {
				width: 30.5%;
			}
		}
		.reviews {
			&:before {
				width: 30.5%;
			}
		}
	}
	footer {
		&:before {
			width: 30.5%;
		}
	}
}

@media (max-width: 1500px) {
	header {
		&:before {
			width: 59%;
		}
	}
	main {
		.main-title {
			&:before {
				left: -165px;
			}
		}
		.why-repo {
			&:before {
				width: 29%;
			}
		}
		.listing {
			&:before {
				width: 29%;
			}
		}
		.reviews {
			&:before {
				width: 29%;
			}
		}
	}
	footer {
		.footer-title {
			&:before {
				left: -165px;
			}
		}
		&:before {
			width: 29%;
		}
	}
}

@media (max-width: 1400px) {
	header {
		&:before {
			width: 58%;
		}
	}
	main {
		.main-title {
			&:before {
				left: -165px;
			}
		}
		.why-repo {
			&:before {
				width: 27.5%;
			}
		}
		.listing {
			&:before {
				width: 27.5%;
			}
			.closing {
				.active {
					&:before {
						width: 130px;
						left: -155px;
					}
				}
				a {
					&:before {
						left: -135px;
						width: 110px;
					}
				}
			}
		}
		.reviews {
			&:before {
				width: 27.5%;
			}
		}
	}
	footer {
		.footer-title {
			&:before {
				left: -165px;
			}
		}
		.info-footer {
			li {
				&:first-child {
					a {
						&:before {
							width: 130px;
							left: -155px;
						}
					}
				}
			}
			a {
				&:before {
					left: -135px;
					width: 110px;
				}
			}
		}
		&:before {
			width: 27.5%;
		}
	}
}

@media (max-width: 1300px) {
	header {
		&:before {
			width: 57%;
		}
	}
	main {
		.main-title {
			text-align: center;
			&:before {
				left: -110px;
			}
		}
		.why-repo {
			&:before {
				width: 27%;
			}
		}
		.listing {
			&:before {
				width: 27%;
			}
		}
		.reviews {
			&:before {
				width: 27%;
			}
			.main-title {
				&:before {
					left: -145px;
				}
			}
		}
		.closing-wrapper {
			text-align: right;
		}
	}
	footer {
		.footer-title {
			text-align: center;
			&:before {
				left: -60px;
			}
		}
		.info-wrapper {
			text-align: right;
		}
		&:before {
			width: 27%;
		}
	}
	.contact-main {
		.why-repo {
			.main-title {
				&:before {
					left: -140px;
				}
			}
		}
	}
}

@media (max-width: 1250px) {
	header {
		&:before {
			width: 57%;
		}
		.social {
			right: 5px;
			a {
				font-size: 18px;
			}
		}
	}
	main {
		.why-repo {
			&:before {
				width: 26%;
			}
		}
		.listing {
			&:before {
				width: 26%;
			}
		}
		.reviews {
			&:before {
				width: 26%;
			}
		}
	}
	footer {
		&:before {
			width: 26%;
		}
	}
}

@media (max-width: 1200px) {
	header {
		&:before {
			width: 56%;
		}
		.login {
			a {
				width: 30px;
			}
		}
		.navigation {
			a {
				&:after {
					right: 35%;
				}
				&:before {
					right: 40%;
				}
			}
		}
		.title-wrapper {
			width: 455px;
			height: 450px;
			padding: 80px 35px;
			left: -12%;
			top: 12%;
		}
	}
	main {
		.main-title {
			&:before {
				left: -130px;
			}
		}
		.why-repo {
			&:before {
				width: 28.5%;
			}
		}
		.listing {
			&:before {
				width: 28.5%;
			}
			.closing {
				padding-left: 0;
				padding-right: 20px;
				a {
					&:before {
						left: -90px;
						width: 65px;
					}
				}
				.active {
					&:before {
						width: 75px;
						left: -100px;
					}
				}
			}
		}
		.reviews {
			&:before {
				width: 28.5%;
			}
			.main-title {
				&:before {
					left: -120px;
				}
			}
		}
	}
	footer {
		&:before {
			width: 28.5%;
		}
		.footer-title {
			&:before {
				left: -70px;
			}
		}
		.info-footer {
			padding-left: 0;
			padding-right: 20px;
			li {
				&:first-child {
					a {
						&:before {
							width: 75px;
							left: -100px;
						}
					}
				}
			}
			a {
				&:before {
					left: -90px;
					width: 65px;
				}
			}
		}
		.about-wrapper {
			padding-top: 15px;
			.address-wrapper {
				li {
					br {
						display: initial;
					}
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				i {
					display: inline-block;
					vertical-align: middle;
				}
				span {
					vertical-align: middle;
				}
			}
		}
	}
	.contact-main {
		.why-repo {
			.main-title {
				font-size: 22px;
			}
		}
	}
}

@media (max-width: 1150px) {
	header {
		&:before {
			width: 55%;
		}
	}
	main {
		.why-repo {
			&:before {
				width: 27%;
			}
		}
		.listing {
			&:before {
				width: 27%;
			}
			.closing {
				padding-right: 10px;
			}
		}
		.reviews {
			&:before {
				width: 27%;
			}
		}
	}
	footer {
		&:before {
			width: 27%;
		}
	}
}

@media (max-width: 1100px) {
	header {
		&:before {
			width: 54%;
		}
	}
	main {
		.why-repo {
			&:before {
				width: 25%;
			}
		}
		.listing {
			&:before {
				width: 25%;
			}
		}
		.reviews {
			&:before {
				width: 25%;
			}
		}
	}
	footer {
		&:before {
			width: 25%;
		}
	}
}

@media (max-width: 992px) {
	.container {
		width: 100%;
	}
	header {
		height: auto;
		padding: 15px 0 0;
		.navigation {
			a {
				font-size: 20px;
				&:before {
					right: 25%
				}
				&:after {
					right: 20%;
				}
			}
		}
		.title-wrapper {
			width: 450px;
			height: 325px;
			padding: 60px 25px;
			left: -8%;
			top: 18%;
			.header-title {
				font-size: 28px;
				padding-bottom: 20px;
			}
			.header-info {
				font-size: 20px;
				padding: 20px 0;
			}
			.chat {
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				width: 190px;
			}
		}
		.header-slider {
			.slider-item {
				img {
					height: 400px;
				}
			}
		}
		.search-wrapper {
			height: auto;
			width: 260px;
			padding-bottom: 40px;
			.search-title {
				font-size: 18px;
				margin-bottom: 30px;
				margin-top: 10px;
			}
			.form-wrapper {
				padding-top: 10px;
				select {
					width: 170px;
				}
				.search {
					height: 35px;
					line-height: 32px;
					font-size: 18px;
				}
			}
		}
		.user-wrapper {
			height: auto;
			width: 260px;
			padding-bottom: 40px;
			.user-title {
				font-size: 18px;
				margin-bottom: 30px;
				margin-top: 10px;
			}
			.register-wrapper {
				margin-left: 20px;
				padding-top: 10px;
				.register-btn {
					height: 40px;
					line-height: 40px;
					font-size: 16px;
					width: 170px;
				}
				.line-between {
					padding: 20px 0;
					&:before {
						width: 70px;
					}
					&:after {
						width: 70px;
					}
				}
			}
		}
		.social {
			right: 0;
			a {
				font-size: 15px;
			}
		}
	}
	main {
		.car-wrapper {
			figure {
				img {
					right: 0;
				}
			}
			.car-item {
				text-align: center;
				.car-info {
					position: static;
					max-width: 211px;
					width: 100%;
					margin: 0 auto;
					background: #212121;
					border: 2px solid rgba(68, 68, 68, 0.9);
					border-top: none;
				}
			}
		}
		.main-title {
			font-size: 20px;
			&:before {
				content: none;
			}
		}
		.closing-wrapper {
			text-align: center;
		}
		.listing {
			.closing {
				padding-right: 0;
				text-align: center;
				a {
					font-size: 20px;
					&:before {
						content: none;
					}
					&:after {
						content: none;
					}
					&:hover {
						&:after {
							content: none;
						}
					}
				}
				.active {
					&:after {
						content: none;
					}
				}
			}
		}
		.reviews-wrapper {
			.date {
				&:before {
					width: 90px;
				}
				&:after {
					right: 10px;
				}
			}
		}
	}
	footer {
		.footer-title {
			font-size: 20px;
			&:before {
				content: none;
			}
		}
		.info-wrapper {
			text-align: center;
		}
		.info-footer {
			padding-right: 0;
			text-align: center;
			a {
				font-size: 20px;
				&:before {
					content: none;
				}
				&:after {
					content: none;
				}
				&:hover {
					&:after {
						content: none;
					}
				}
			}
			.active {
				&:after {
					content: none;
				}
			}
		}
		.about-wrapper {
			button {
				font-size: 14px;
			}
		}
	}
	.contact-main {
		.why-repo {
			.main-title {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 767px) {
	header {
		&:before {
			width: 100%;
		}
		.logo {
			margin: 0 auto;
		}
		.navigation {
			margin-top: 50px;
			font-size: 0;
			li {
				width: 25%;
				display: inline-block;
				text-align: center;
				margin-bottom: 10px;
			}
			a {
				&:before {
					content: none;
				}
				&:after {
					content: none;
				}
				&:hover {
					&:after {
						content: none;
					}
				}
			}
			.active {
				&:after {
					content: none;
				}
			}
		}
		.login {
			text-align: center;
		}
		.header-slider {
			.slider-item {
				text-align: center;
			}
		}
		.title-wrapper {
			left: 8%;
			top: 11.3%;
			text-align: center;
			width: 350px;
			height: auto;
			padding: 30px 15px;
			.header-title {
				font-size: 24px;
				padding-bottom: 10px;
			}
			.header-info {
				font-size: 16px;
			}
			.chat {
				display: inline-block;
				height: 35px;
				line-height: 35px;
				font-size: 15px;
				width: 160px;
			}
		}
		.user-wrapper {
			top: 35%;
			right: 0;
			left: 0;
			margin: 0 auto;
			background: #000;
		}
		.search-wrapper {
			top: 35%;
			right: 0;
			left: 0;
			margin: 0 auto;
			background: #000;
		}
		.social {
			top: 30px;
			right: 15px;
			a {
				color: #FFF;
			}
		}
	}
	main {
		.main-title {
			color: #000;
			padding: 15px 0;
			font-size: 18px;
		}
		.post-wrapper {
			text-align: center;
			.post-title {
				font-size: 16px;
			}
			.post-info {
				margin: 0;
				padding: 20px 0;
				font-size: 14px;
			}
		}
		.car-wrapper {
			.car-item {
				.bid {
					width: 120px;
					font-size: 15px;
				}
			}
		}
		.why-repo {
			&:before {
				content: none;
			}
		}
		.listing {
			&:before {
				content: none;
			}
			.main-title {
				color: #FFF;
			}
			.closing {
				padding: 0;
				width: 100%;
				font-size: 0;
				li {
					width: 25%;
					display: inline-block;
				}
			}
		}
		.reviews-wrapper {
			padding: 0 0 15px;
		}
		.reviews {
			&:before {
				content: none;
			}
			.reviews-title {
				font-size: 16px;
				padding-left: 40px;
			}
			.reviews-info {
				font-size: 14px;
				padding: 15px 0 30px;
			}
			.date {
				font-size: 12px;
				padding-right: 40px;
				&:before {
					width: 75px;
					right: 130px;
				}
			}
		}
		.meta-content {
			font-size: 12px;
			padding: 15px 0;
		}
	}
	footer {
		&:before {
			content: none;
		}
		.footer-title {
			padding: 15px 0;
			font-size: 18px;
		}
		.about-wrapper {
			text-align: center;
			button {
				font-size: 13px;
			}
			.form-group {
				width: 100%;
				&:last-child {
					width: 100%;
				}
			}
			.about-title {
				font-size: 16px;
			}
			.repokar-wrapper {
				span {
					font-size: 20px;
				}
				.repokar-text {
					font-size: 10px;
					padding-left: 15px;
				}
			}
			.address-wrapper {
				span {
					width: 80px;
					display: block;
					margin: 0 auto;
				}
				li {
					font-size: 14px;
				}
			}
		}
		.info-footer {
			padding: 0;
			width: 100%;
			font-size: 0;
			li {
				width: 25%;
				display: inline-block;
			}
		}
	}
	.auction-main {
		.listing {
			background: #212121;
			&:before {
				content: none;
			}
		}
		.pagination-wrapper {
			text-align: center;
		}
		.pagination {
			li {
				a {
					font-size: 16px;
					span {
						font-size: 14px;
					}
				}
			}
		}
		.reviews {
			padding-top: 15px;
		}
	}
	.contact-main {
		.listing {
			.main-title {
				color: #000;
			}
		}
		.message-wrapper {
			padding: 0 15px;
		}
		.message {
			margin-bottom: 15px;
			input {
				height: 35px;
			}
			.send {
				height: 35px;
				font-size: 16px;
			}
			.refresh {
				a {
					font-size: 25px;
					line-height: 44px;
				}
			}
			.captcha {
				img {
					width: 100%;
					max-height: 35px;
				}
			}
		}
		.address-map {
			font-size: 18px;
			padding: 30px 20px;
			span {
				width: 100px;
			}
		}
		.why-repo {
			.main-title {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 550px) {
	.contact-header {
		.header-slider {
			.slider-item {
				img {
					height: auto;
				}
			}
		}
		.title-wrapper {
			top: 50px;
		}
	}
	main {
		.post-wrapper {
			.post {
				width: 100%;
				&:nth-child(2n+1) {
					&:after {
						content: none;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	header {
		.header-slider {
			.slider-item {
				img {
					height: auto;
					width: 100%;
				}
			}
		}
		.navigation {
			li {
				width: 50%;
			}
		}
		.title-wrapper {
			position: static;
			background: none;
			margin: 20px auto 0;
			width: 100%;
			.header-title {
				font-size: 20px;
			}
			.header-info {
				font-size: 14px;
			}
		}
		.search-wrapper {
			top: 277px;
		}
		.user-wrapper {
			top: 277px;
		}
		.header-slider {
			.owl-theme {
				.owl-controls {
					right: 0;
					left: 0;
					top: inherit;
					bottom: 15px;
					transform: none;
				}
			}
		}
	}
	main {
		.car-wrapper {
			.car-item {
				figure {
					background: none;
				}
			}
			.see-wrapper {
				text-align: center;
			}
		}
		.listing {
			.closing {
				li {
					width: 50%;
					padding-bottom: 10px;
				}
			}
		}
		.reviews {
			.date {
				padding-bottom: 20px;
			}
		}
	}
	footer {
		.info-footer {
			li {
				width: 50%;
				padding-bottom: 10px;
			}
		}
		.about-wrapper {
			.address-wrapper {
				padding: 20px 0;
			}
		}
	}
	.auction-main {
		.pagination {
			li {
				a {
					font-size: 14px;
					padding: 3px 4px;
					span {
						font-size: 12px;
					}
				}
			}
		}
	}
	.contact-header {
		.title-wrapper {
			width: 100%;
		}
	}
	.contact-main {
		.message {
			padding: 20px 0;
			.captcha {
				img {
					width: auto;
				}
			}
			.refresh {
				a {
					font-size: 20px;
					line-height: 40px;
				}
			}
		}
		.address-map {
			position: static;
			width: 100%;
			margin-top: 15px;
			font-size: 16px;
			span {
				width: 90px;
			}
		}
	}
}
